<div class="product-list">
    <div class="product-card" *ngFor="let product of products">
        <div class="header">
            <div class="product title">{{ product.title }}</div>
            <img class="product thumbnail" [src]="product.thumbnail"/>
            <div class="product stock sold-out" *ngIf="product.stock === 0">SOLD OUT</div>
            <div class="product stock in-stock" *ngIf="product.stock > 0">
                <span class="label">IN STOCK</span>
                <span>&nbsp;</span>
                <span class="qty">{{ product.stock }}</span>
            </div>
        </div>
        <div class="body">
            <div class="product price">${{ product.price }}</div>
            <div class="product add-to-cart" *ngIf="product.stock > 0" (click)="addToCart()">ADD TO CART</div>
        </div>
    </div>
</div>
